*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
body{
    background-color: #000000;
}
.header{
    background-color: #272C3D;
}
.navigation{
    padding: 20px;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 26px;
    list-style: none;
}
.input{
    margin-left: 250px;
    border-radius: 5px;
    width: 242px;
    height: 30px;
    align-items: center;
    background-color: #404864;
}
.header__link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
}
.input__img{
    padding-left: 40px;
}
.header__input{
    background-color: #404864;
    border: none;
}
.header__item{
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #030303;
    transition: 0.5s ease-in-out;
}
.header__drop{
    text-decoration: none;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
}
.dropdown{
    list-style: none;
    position: absolute;
    top: 60px;
    left: 1260px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 0px rgb(255, 255, 255);
    background-color: rgb(35, 32, 40);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.header__left:hover .dropdown{
    display: flex;
}
.English{
    border-radius: 5px;
    width: 250px;
background: rgba(0, 0, 0, 0.5);
}
.hero__box{
    height: 650px;
    background-image: url(./images/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__title{
    padding-top: 45px;
    background: linear-gradient(180.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0));
-webkit-background-clip:
text;
-webkit-text-fill-color:
transparent;
background-clip:
text;
text-fill-color:
transparent;
font-family: Quantico;
font-size: 32px;
font-weight: 400;
line-height: 46px;
letter-spacing: 0%;
text-align: center;
}
.img__box{
    padding-top: 100px;
}
.hero__img1{
    padding-left: 70px;
    padding-bottom: 100px;
}
.hero__img5{
    padding-bottom: 100px;
}
.herowrapper{
    margin-top: 60px;
    height: 928px;
    background-color: #1B1E27;
}
.ttl{
    padding-top: 61px;
    padding-left: 245px;
    color: rgb(255, 255, 255);
font-family: Quantico;
font-size: 24px;
font-weight: 400;
line-height: 34px;
}
.wrapper__title{
    display: flex;
}
.lalal{
    padding-top: 30px;
    padding-left: 245px;
}
.wrp__p{
    padding-top: 30px;
    padding-left: 17px;
    width: 323px;
    color: rgb(191, 191, 191);
font-family: Quantico;
font-size: 14px;
font-weight: 400;
line-height: 20px;
}
.ttl2{
    padding-top: 141px;
    padding-left: 245px;
    color: rgb(255, 255, 255);
font-family: Quantico;
font-size: 24px;
font-weight: 400;
line-height: 34px;
}
.footer{
    background-color: #272C3D;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}